<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :category, "カテゴリー" %>
    <%= form.select :category, Recipe.categories.keys, {}, {class: 'hoge' } %>
  </div>

  <div class="field">
    <%= form.label :materials, "材料・分量" %>
    <%= form.fields_for :materials do |material| %> 
      <%= render 'material_fields', f: material %> 
    <% end %>
    <div class="links">
      <%= link_to_add_association "材料・分量を追加", form, :materials  %>
    </div> 
  </div>

  <div class="field">
    <%= form.label :how_tos, "作り方" %>
    <%= form.fields_for :how_tos do |howto| %> 
      <%= render 'how_to_fields', f: howto %> 
    <% end %>
    <div class="links">
      <%= link_to_add_association "作り方の追加", form, :how_tos  %>
    </div> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
